[submodule "Teal-Owl-Specific/src/TOW"]
	path = Teal-Owl-Specific/src/TOW
	url = git@github.com:ale-ben/Teal-Owl_Watermarking.git
[submodule "src/TOW"]
	path = src/TOW
	url = git@github.com:ale-ben/Teal-Owl_Watermarking.git
