/Teal-Owl_Contract.code-workspace
.DS_Store
/ManifestUploader/.env
/Contract/node_modules
/Contract/artifacts
/Contract/cache
/Contract/ignition/deployments
/Contract/typechain-types
/Contract/credentials.json
